@page
@model MicroservicesTestModel

<h2>Microservices Test</h2>

<div>
    <h4>Car Service Data:</h4>
    <pre>@Model.CarServiceData</pre>
</div>
<div>
    <h4>Parts Warehouse Data:</h4>
    <pre>@Model.PartsWarehouseData</pre>
</div>
