@page
@model SerwisMotoryzacyjny.Pages.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Your message has been sent successfully! Thank you for contacting us.</p>
</div>
